h2:first-of-type {
    position: relative;
    margin: 20px auto;
    width: fit-content;
}
h2:first-of-type::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    transition: 0.3s;
    background-color: indianred;
    z-index: -1;
}
h2:first-of-type:hover::before {
    width: 100%;
}
